:root {

    background-image: url('https://wallpapercave.com/wp/wp2595093.jpg');
    background-size: cover;       
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;               
    margin: 0;     



}


